{% extends "layout-admin2.html" %}

{% block content %}
        
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">Pie charts of each Index</h1>
                </div>
            </div>

            <div class="row">
                {% for x in range(1,11): %}
                <div class="col-lg-4">
                    <div class="panel panel-green">
                        <div class="panel-heading">
                            <h3 id="s{{ x }}" class="panel-title"></h3>
                        </div>
                        <div class="panel-body">
                            <div class="flot-chart">
                                <div class="flot-chart-content" id="index-{{ x }}"></div>
                                <div id="memo-{{ x }}" style="text-align:center;height:30px;width:250px;height:20px;text-align:center;margin:0 auto"></div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            </div>

{% endblock %}
