<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>SB Admin 2 - Bootstrap Admin Theme</title>

    <!-- Bootstrap Core CSS -->
    <link href="{{ url_for('static', filename='bootstrap/dist/css/bootstrap.min.css') }}" rel="stylesheet" type="text/css">

    <!-- MetisMenu CSS -->
    <link href="{{ url_for('static', filename='metisMenu/dist/metisMenu.min.css') }}" rel="stylesheet" type="text/css">

    <!-- Timeline CSS -->
    <link href="{{ url_for('static', filename='dist/css/timeline.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom CSS -->
    <link href="{{ url_for('static', filename='dist/css/sb-admin-2.css') }}" rel="stylesheet" type="text/css">

    <!-- Morris Charts CSS -->
    <link href="{{ url_for('static', filename='morrisjs/morris.css') }}" rel="stylesheet" type="text/css">

    <!-- Custom Fonts -->
    <link href="{{ url_for('static', filename='font-awesome/css/font-awesome.min.css') }}" rel="stylesheet" type="text/css">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

</head>

<body>

    <div id="wrapper">



    </div>
    <!-- /#wrapper -->

    <!-- jQuery -->
    <script src="{{ url_for('static', filename='jquery/dist/jquery.min.js') }}"></script>

    <!-- Bootstrap Core JavaScript -->
    <script src="{{ url_for('static', filename='bootstrap/dist/js/bootstrap.min.js') }}"></script>

    <!-- Metis Menu Plugin JavaScript -->
    <script src="{{ url_for('static', filename='metisMenu/dist/metisMenu.min.js') }}"></script>

    <!-- Morris Charts JavaScript -->
    <script src="{{ url_for('static', filename='raphael/raphael-min.js') }}"></script>
    <script src="{{ url_for('static', filename='morrisjs/morris.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/morris-data.js') }}"></script>

    <!-- Custom Theme JavaScript -->
    <script src="{{ url_for('static', filename='dist/js/sb-admin-2.js') }}"></script>

    <!-- Flot Charts JavaScript -->
    <script src="{{ url_for('static', filename='flot/excanvas.min.js') }}"></script>
    <script src="{{ url_for('static', filename='flot/jquery.flot.js') }}"></script>
    <script src="{{ url_for('static', filename='flot/jquery.flot.pie.js') }}"></script>
    <script src="{{ url_for('static', filename='flot/jquery.flot.resize.js') }}"></script>
    <script src="{{ url_for('static', filename='flot/jquery.flot.time.js') }}"></script>
    <script src="{{ url_for('static', filename='flot.tooltip/js/jquery.flot.tooltip.min.js') }}"></script>
    <script src="{{ url_for('static', filename='js/flot-data.js') }}"></script>

</body>

</html>
